---
import "../styles/styles.css";
---

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encriptador de Texto</title>
</head>
<body>
    <div>
        <h1>Encriptador de Texto</h1>
        <form id="encryptionForm">
            <label for="plainText">Introduce tu texto:</label>
            <input type="text" id="plainText" name="plainText" required>
            <br><br>

            <label for="action">Elige una acción:</label>
            <select id="action" name="action">
                <option value="encrypt">Encriptar</option>
                <option value="decrypt">Desencriptar</option>
            </select>
            <br><br>

            <button type="submit">Procesar</button>
        </form>
        
        <h2>Resultado:</h2>
        <p id="resultText"></p>
        <button id="copyButton">Copiar</button>
    </div>

    <!-- Vinculación del archivo JavaScript -->
    <script src="/src/scripts/encryption.js" type="module"></script>
</body>
</html>
